# Salin file ini menjadi ".env" lalu isi dengan nilai kalian sendiri.
# JANGAN commit file ".env" yang sudah berisi token asli ke GitHub publik.

DB_HOST=127.0.0.1
DB_NAME=api_wa_fonnte
DB_USER=root
DB_PASS=

FONNTE_TOKEN=GANTI_DENGAN_TOKEN_FONNTE_KALIAN
